<h1>{{caption}}</h1>

<b>Reference of "{{moduleName}}" module</b> (<a href="{{foundAt}}">source</a>)<br>

{{#if submodule}}
  For more details, see "<a href="../modules/{{submodule}}.html"><strong>{{submodule}}</strong>" component</a>.
  <br>
{{else}}
  {{#if module}}
    For more details, see "<a href="../modules/{{module}}.html"><strong>{{module}}</strong>" package</a>.
    <br>
  {{/if}}
{{/if}}

<br>

{{#if type}}
  Type: <strong>{{type}}</strong>
  <br>
{{/if}}

{{#if uses}}
  Uses:
  {{#each uses}}
      <a href="{{this}}.html">{{this}}</a>
  {{/each}}
  <br>
{{/if}}

{{#if extension_for}}
  Extension For:
  {{#each extension_for}}
      <a href="{{this}}.html">{{this}}</a>
  {{/each}}
  <br>
{{/if}}

{{#if extends}}
  Extends: <strong>{{#crossLink extends}}{{/crossLink}}</strong>
  <br>
{{/if}}

<div>{{{classDescription}}}</div>

{{#if is_constructor}}
    {{#is_constructor}}
    {{>method}}
    {{/is_constructor}}
{{/if}}

<h2>Properties</h2>
{{#if properties}}
  <div id="props">
  {{#properties}}
      {{>props}}
  {{/properties}}
  </div>
{{else}}
  There are no properties defined
{{/if}}

<h2>Methods</h2>
{{#if methods}}
  <div id="methods">
  {{#methods}}
      {{>method}}
  {{/methods}}
  </div>
{{else}}
  There are no methods defined
{{/if}}

<h2>Events</h2>
{{#if events}}
  <div id="events">
  {{#events}}
      {{>events}}
  {{/events}}
  </div>
{{else}}
  There are no events defined
{{/if}}

