<a name="props_{{name}}"></a>
<div class="props item">
    <h3>{{name}}</h3>
    Type: <strong>{{type}}</strong><br />
    {{{propertyDescription}}}
    {{#if example}}
        <h3>Example</h3>
        {{{example}}}
    {{/if}}
</div>
